<div>
    <h1 class="topic">Menu</h1>
    <h3 class="content-title">Regular Cupcakes per Dozen:</h3>
    <h4 class="content">Plain with frosting: $30<br>Filling: $36<br>Filling & Topper: $45<br>***(5% off after 3+ dozen)<br><br></h4>
    <h3 class="content-title">Mini Cupcakes per Dozen (minimum 2 dozen):</h3>
    <h4 class="content">Plain with frosting: $9<br>Filling: $12<br>Filling & Topper: $18<br>***(5% off after 6+ dozen)<br>***(specialty cupcakes start at price listed - may change depending on size and complexity of topper)<br><br></h4>
    <h3 class="content-title">Cake Pops:</h3>
    <h4 class="content">$2 per pop<br>$22 per dozen<br>***(price may change per pop if they are specialty design)<br><br></h4>
    <h3 class="content-title">Round Cakes:</h3>
    <h4 class="content">6" start at $30<br>8" start at $45<br>10" start at $60<br>12" start at $85<br>***(base price listed may change depending on type of filling or number of layers)<br><br></h4>
    <h3 class="content-title">Sheet Cakes:</h3>
    <h4 class="content">1/4 starts at $40<br>1/2 starts at $80<br>Full starts at $120<br>***(base price listed may change depending on type of filling or number of layers)<br><br></h4>
    <h3 class="content-title">Specialty Cakes:</h3>
    <h4 class="content">Will be quoted depending on complexity of design and size of cake. Final price will be given after order has been placed. Fondant topper prices also depend on complexity and size of design.<br><br></h4>
    <h3 class="content-title">Sweets & Treats:</h3>
    <h4 class="content">Mini Turon: $25 for 100 (with langka: $50 for 100)<br>Merengue: $25 for 100<br>Double Chocolate Chip Cookies: mini 3 for $1, regular $2 per piece<br><br></h4>
    <h3 class="content-title">Flavors:</h3>
    <h4 class="content">Vanilla<br>Chocolate<br>Red Velvet<br>Mocha<br>Marble<br>Carrot<br>Banana<br>Frostings<br>Buttercream<br>Cream Cheese<br>Swiss Merengue<br>Filipino Merengue<br>Ganache<br>Fillings<br>Fresh Fruit (cakes)<br>Fresh Fruit Compote (reg cupcakes)<br>Ganache (dark,milk, & white chocolates)(+$1.00 per reg cupcakes)(+ $0.50 per mini cupcakes)<br><br></h4>
</div>
